:root {
  --dark-gray: rgb(55, 55, 55);
  --very-dark-gray: rgb(30, 30, 30);

}

body {
  background-color: black;
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}

#root>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
}

.open-button {
  background: none;
  border: none;
  color: ivory;
  font-size: 1.5em;
  cursor: pointer;
}

h1 {
  margin: 0;
}

#root {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* attempts grid */
.attempts {
  display: grid;
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
  font-size: 1.8em;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 5px;
  justify-content: center;
}

.shake {
  animation: shake 50ms 6 alternate;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px grey solid;
  transition: background-color, border-color;
}

.highlight {
  border-color: silver;
  animation: grow-shrink 100ms;
}

.none {
  background-color: grey;
  border-color: grey;
}

.correct {
  background-color: green;
  border-color: green;
}

.position {
  border-color: GoldenRod;
  background-color: GoldenRod;
}

.animate {
  animation: flip 300ms 2 alternate;
  transition-duration: 600ms;
}

.jump.animate {
  animation: flip 300ms 2 alternate, jump 2000ms 1;
}

/* keyboard */
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-bottom: 30px;
  margin: 0 10px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  gap: 5px;
}

.keyboard button {
  flex: 0 1 36px;
  height: 55px;
  cursor: pointer;
  color: ivory;
  background-color: grey;
  border: 0;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

button.correct {
  background-color: green;
}

button.position {
  background-color: GoldenRod;
}

button.none {
  background-color: var(--dark-gray);
}

.keyboard-row:last-child button:first-child,
.keyboard-row:last-child button:last-child {
  flex: 1 1 40px;
  max-width: 70px;
  font-size: 0.8em;
}

/* popup */
.popup-container {
  position: relative;
}

.popup {
  background-color: ivory;
  color: black;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fade-out {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

/* modal */
.modal-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--very-dark-gray);
  padding: 20px 30px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin: 0 20px;
}

.stat {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  justify-content: space-around;
  font-size: 2em;
  font-weight: normal;
}

.heading {
  font-size: 0.4em;
  text-align: center;
  align-self: flex-start;
}

.bar-chart {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 5px;
  font-size: 0.9em;
}

.guess {
  padding: 3px;
}

.bar {
  background-color: var(--dark-gray);
  padding: 3px 5px;
  text-align: end;
}

.bar.current {
  background-color: green;
}

.close-button {
  background: none;
  border: none;
  color: ivory;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0;
}

/* animation */
@keyframes flip {
  from {
    rotate: x 0deg;
  }

  to {
    rotate: x 90deg;
  }
}

@keyframes grow-shrink {
  from {
    scale: 1.1;
  }

  to {
    scale: 1;
  }
}

@keyframes shake {
  from {
    transform: translateX(3px)
  }

  to {
    transform: translateX(-3px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px)
  }

  80% {
    transform: translateY(0px)
  }

  90% {
    transform: translateY(-40px)
  }

  100% {
    transform: translateY(0px)
  }
}

.animate:nth-child(5n) {
  transition-delay: 1000ms;
  animation-delay: 1000ms;
}

.animate:nth-child(5n + 1) {
  transition-delay: 0ms;
  animation-delay: 0ms;
}

.animate:nth-child(5n + 2) {
  transition-delay: 250ms;
  animation-delay: 250ms;
}

.animate:nth-child(5n + 3) {
  transition-delay: 500ms;
  animation-delay: 500ms;
}

.animate:nth-child(5n + 4) {
  transition-delay: 750ms;
  animation-delay: 750ms;
}